<!doctype html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href= "{{ url_for('static',filename='styles/index.css') }}"/>
    <!-- src="{{ url_for('static',filename='scripts/index.js') }}" -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Sales Wizard</title>
    <script type="text/javascript" src="{{ url_for('static',filename='scripts/index.js') }}"defer></script>
  </head>
  <body>
    <div class="overlay">
    <div class="heading-container">
        <div class="title">SALES WIZARD</div>
        <div class="description">Meet our wizard to discuss about the sales!</div>
      <div class="logo"><img src="../static/assets/logo.jpg"></div>
    </div>
    <main class="page-content">
      <div class="left-section">
        <h1>Ewpower your sales team to sell smarter, not harder.</h1>
        <p>Struggling with pipeline growth, stagnant conversions, and inefficient workflows? 
          Our Al-powered CRM is the all-in-one solution you need to supercharge your sales.</p>
          <p class="btn-div"><button class="btn-sales" onclick="redirectPage('board')">Track Sales</button></p>
      </div>
      <div class="right-section">
          <div class="card">
            <div class="content">
                <h2 class="title">Sales Wizard</h2>
                <p class="copy">Ask us smart sales question to crack deals !</p><button class="btn" onclick="redirectPage('chat')">Let's Chat</button></div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Quote Catalyst</h2>
                <p class="copy">Optimize quote , One click away !</p><button class="btn" onclick="redirectPage('quote')">Mail it</button></div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Sales Cockpit </h2>
                <p class="copy">Hub for viewing sales related data !</p><button class="btn" onclick="redirectPage('analytics')">TO BI</button></div>
        </div>
        <div class="card">
            <div class="content">
                <h2 class="title">Sales Playbook</h2>
                <p class="copy">One stop solution for sales materials !</p><button class="btn" onclick="redirectPage('holder')">click here</button></div>
        </div>
      </div>
      
    </main>
  </div>
  </body>
</html>