@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poetsen+One&family=Teko:wght@300..700&display=swap" rel="stylesheet');

 :root {
	 --d: 700ms;
	 --e: cubic-bezier(0.19, 1, 0.22, 1);
	 --font-sans: 'Rubik', sans-serif;
	 --font-serif: 'Cardo', serif;
}
 * {
	 box-sizing: border-box;
	 margin: 0;
	 padding: 0;
}
 html, body {
	 height: 100%;
}
 body {
	 display: grid;
	 /* place-items: center; */
	background-image: url('../assets/home-background.png');
    background-size: cover;
	background-color: rgba(128,128,128,0.75);
	font-family: "PT Sans", sans-serif;
	font-weight: 200;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)); /* Adjust the opacity or colors as needed */
    z-index: 1;
  }
.heading-container{
	position: relative;
	padding-top: 2%;
	width: 100%;
	height: 180px;
	align-content: end;
	margin-bottom: 5%;
	display: flex;
    justify-content: center;
	flex-direction: column;
	align-items: center;
}

.heading-container .title{
	font-size: 90px;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	color: white;
}
.heading-container .description{
	font-size: 20px;
	font-family: "PT Sans", sans-serif;
	font-weight: bold;
	color: white;
}
.heading-container .logo{
position: absolute;
left: 5%;
width: 10%;

}
.logo img{
	width: 100%;
}
.left-section{
	width: 40%;
	color: white;
	font-family: "PT Sans", sans-serif;
	font-weight: 200;
	/* font-family: var(--font-serif); */
}
.left-section h1{
	font-size: 3.5rem;
}

.left-section p{
	margin-top: 4%;
	font-size: 1.6rem;
}
.right-section {
	width: 40%;
	display: flex;
    flex-wrap: wrap; /* Allows child elements to wrap to the next line */
    gap: 20px;
}
	

 .page-content {
	 display: flex;
	 grid-gap: 15rem;
	 padding-left: 5rem;
	 padding-right: 5rem;
	 max-width: 100%;
	 margin: 0 auto;
	 font-family: var(--font-sans);
}

 @media (min-width: 600px) {
	 .page-content {
		 grid-template-columns: repeat(2, 1fr);
	}
}
 @media (min-width: 800px) {
	 .page-content {
		 grid-template-columns: repeat(4, 1fr);
	}
}
 .right-section .card {
	 width: 45%;
	 border-radius: 10%;
	 position: relative;
	 display: flex;
	 align-items: flex-end;
	 overflow: hidden;
	 padding: 2rem;
	 text-align: center;
	 color: whitesmoke;
	 background-color: whitesmoke;
	 box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    .right-section .card {
        width: 100%; /* One card per row */
        height: auto; /* Default height */
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    .right-section .card {
        width: calc(50% - 10px); /* Two cards per row */
        height: 250px; /* Set height for cards */
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1199.98px) {
    .right-section .card {
        width: calc(50% - 10px); /* Two cards per row */
        height: 250px; /* Set height for cards */
    }
}

/* Large devices (desktops, 1200px and up) */
@media (min-width: 1200px) {
    .right-section .card {
        width: calc(50% - 10px); /* Two cards per row */
        height: 250px; /* Set height for cards */
    }
}
 .card:before {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 110%;
	 background-size: cover;
	 background-position: 0 0;
	 transition: transform calc(var(--d) * 1.5) var(--e);
	 pointer-events: none;
}
 .card:after {
	 content: '';
	 display: block;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 200%;
	 pointer-events: none;
	 background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.320) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.540) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.790) 100%);
	 transform: translateY(-50%);
	 transition: transform calc(var(--d) * 2) var(--e);
}
 .card:nth-child(1):before {
	background-image: url('https://cdn-icons-png.flaticon.com/512/477/477103.png'); 
	opacity: 2px;
	width: 50%;
    height: 50%;
    position: absolute;
    top: 12%;
    left: 25%;
	}
 .card:nth-child(2):before {
	 background-image: url('../assets/quote.png');
	 background-size: cover;
	 width: 50%;
    height: 50%;
    position: absolute;
    top: 12%;
    left: 25%;
}
 .card:nth-child(3):before {
	 background-image: url('../assets/analytics_logo.png');
	 width: 50%;
    height: 50%;
    position: absolute;
    top: 12%;
    left: 25%;
}
 .card:nth-child(4):before {
	 background-image: url('../assets/playbook_2.png');
	 width: 50%;
    height: 50%;
    position: absolute;
    top: 12%;
    left: 25%;
}
 .content {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 align-items: center;
	 width: 100%;
	 padding: 1rem;
	 transition: transform var(--d) var(--e);
	 z-index: 1;
}
 .content > * + * {
	 margin-top: 1rem;
}
 .title {
	 font-size: 1.3rem;
	 font-weight: bold;
	 line-height: 1.2;
	 color: rgb(0,0,0);
	 font-family: "PT Sans", sans-serif;
}
 .copy {
	font-family: "PT Sans", sans-serif;
	 font-size: 1.125rem;
	 font-style: italic;
	 line-height: 1.35;
}
 .btn {
	 cursor: pointer;
	 margin-top: 1.5rem;
	 padding: 0.75rem 1.5rem;
	 font-size: 0.65rem;
	 font-weight: bold;
	 letter-spacing: 0.025rem;
	 text-transform: uppercase;
	 color: white;
	 font-family: "PT Sans", sans-serif;
	 background-color: black;
	 border: none;
}
 .btn:hover {
	 background-color: #0d0d0d;
}
.btn-sales{
	cursor: pointer;
	 margin-top: 1.5rem;
	 padding: 0.75rem 1.5rem;
	 font-size: 1rem;
	 font-weight: bold;
	 letter-spacing: 0.025rem;
	 text-transform: uppercase;
	 color: black;
	 font-family: "PT Sans", sans-serif;
	 background-color: white;
	 border: none;
	 border-radius: 10px;
}
.btn-div{
	padding-left: 14rem;
}
 .btn:focus {
	 outline: 1px dashed yellow;
	 outline-offset: 3px;
}
 @media (hover: hover) and (min-width: 600px) {
	 .card:after {
		 transform: translateY(0);
	}
	 .content {
		 transform: translateY(calc(100% - 4.5rem));
	}
	 .content > *:not(.title) {
		 opacity: 0;
		 transform: translateY(1rem);
		 transition: transform var(--d) var(--e), opacity var(--d) var(--e);
	}
	 .card:hover, .card:focus-within {
		 align-items: center;
	}
	 .card:hover:before, .card:focus-within:before {
		 transform: translateY(-4%);
	}
	 .card:hover:after, .card:focus-within:after {
		 transform: translateY(-50%);
	}
	 .card:hover .content, .card:focus-within .content {
		 transform: translateY(0);
	}
	 .card:hover .content > *:not(.title), .card:focus-within .content > *:not(.title) {
		 opacity: 1;
		 transform: translateY(0);
		 transition-delay: calc(var(--d) / 8);
	}
	 .card:focus-within:before, .card:focus-within:after, .card:focus-within .content, .card:focus-within .content > *:not(.title) {
		 transition-duration: 0s;
	}
}
 